@{
  Layout = "_EngineerLayout";
}

@model Factory.Models.Engineer

<h2>Edit Engineer</h2>
<h4>Edit this Engineer: @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="form-control", required="required"}})

  @Html.LabelFor(model => model.Comments)
  @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class="form-control", required="required"}})

  @Html.Label("Date Hired")
  @Html.TextBoxFor(model => model.DateHired, new { @class = "form-control", @type="Date", @Value=Model.DateHired})

  <input type="submit" value="Edit" class="btn btn-success"/>
}