@using Factory.Models;
@model List<Factory.Models.Engineer>

@{
  Layout = "_Layout";
}
<button class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home")</button>
<button class="btn btn-dark">@Html.ActionLink("Machines", "Index", "Machine")</button>
<button class="btn btn-dark">@Html.ActionLink("Add Engineer", "Create")</button>

<h2>Factory Engineers</h2>

@if (Model.Count == 0)
{
  <h4>No Engineers are currently hired</h4>
}

<ul>
  @foreach (Engineer engineer in Model)
  {
    <li><button class="btn btn-dark">@Html.ActionLink("View", "Details", new {id = engineer.EngineerId})</button>@engineer.Name | @engineer.EngineerId | @engineer.DateHired</li>
  }
</ul>