@{
  Layout = "_MachineLayout";
}

<button class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home")</button>
<button class="btn btn-dark">@Html.ActionLink("Back to Machines", "Index")</button>
<button class="btn btn-danger">@Html.ActionLink("Remove Machine", "Delete", new { id = Model.MachineId})</button>
<button class="btn btn-dark">@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</button>
<button class="btn btn-dark">@Html.ActionLink("Add Engineer", "AddEngineer", new { id = Model.MachineId })</button>

@model Factory.Models.Machine


<h1 class="text-center">@Model.Name</h1>

@if(Model.JoinEntities.Count == 0)
{
  <h3>@Model.Name is not being maintaned by any factory engineers</h3>
}
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteEngineer", "Machine"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" class="btn btn-danger"/>
    }
  }
</ul>