@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit Machine</h2>
<h4>Edit this Machine: @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="form-control", required="required"}})

  @Html.LabelFor(model => model.Notes)
  @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class="form-control", required="required"}})

  @Html.Label("Date Hired")
  @Html.TextBoxFor(model => model.DateInstalled, new { @class = "form-control", @type="Date", @Value=Model.DateInstalled})

  <input type="submit" value="Edit" class="btn btn-success"/>
}